

{% extends "store_app/base.html" %}
{% block content %}




  <hr>
    <style>
        * {
          box-sizing: border-box;
        }
        /* Create two equal columns that floats next to each other */
        .column {
          float: left;
          width: 50%;
          padding: 10px;
          height: 120px; /* Should be removed. Only for demonstration */
        }
        /* Clear floats after the columns */
        .row:after {
          content: "";
          display: table;
          clear: both;
        }
    </style>


    <h2 style="text-align:center;"> My cart</h2>
   <hr>
    <form  method="post">
        {% csrf_token %}
    <div class="row" style="background-color: #282E2A;">
      <div class="column" >
        <div class="w3-container">
            <table >
              <tr>
                <th></th>
                  <th>  </th>
                <th></th>
              </tr>
              <tr>
                <td>Total: </td>
                  <th>  </th>
                  <th>  </th>
                <td><b class="text-info " style="font-size:120%;">{{ cart_summ }}</b></td>
              </tr>
              <tr>
                <td>Discounted total: </td>
                  <th>  </th>
                  <th>  </th>
                <td><b class="text-info"  style="font-size:120%;">{{ cart_dicounted_summ }}</b></td>
              </tr>
            </table>
        </div>
      </div>
      <div class="column" >
        <div  class="start-50  w-50 w3-card">
            <button formaction="{% url 'removefromcart' %}" type="submit" class="btn btn-outline-info w-100 p-2 mb-1" >Remove from cart</button>
            <button formaction="{% url 'buyselected' %}" type="submit" class="btn btn-outline-warning w-100 p-2 mb-1" >Buy</button>
        </div>
      </div>
    </div>
        <table class="table table-striped table-hover text-info">
            <thead>
                <tr>
                    <th scope="col">Pieces</th>
                    <th scope="col">Name</th>
                    <th scope="col">Total</th>
                    <th scope="col">Discounted Total</th>
                    <th scope="col">Select</th>
                    <th scope="col">Input remove</th>
                </tr>
            </thead>

            <tbody>
                {% for product in cart %}
                    <tr  class="table table-striped table-hover text-white">

                        <td scope="row">{{ product.avaiability }}</td>
                        <th scope="row">{{ product.product.name }}</th>
                        <td> {{ product.get_sum_of_product_cost }}</td>
                        <td> {{ product.get_discounted_sum }}</td>
                        <td><input type="checkbox" name="rm{{ product.pk }}" > </td>
                        <th scope="row"> <input style="background-color: #1d211e; color: #ffffff" type="number"  name="pcs{{ product.pk }}" min="0" max="{{ product.avaiability }}"></th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
{% endblock %}

