

{% extends "store_app/base.html" %}
{% block content %}
    	<br> <br>
    	<h1 class="position-absolute top-40 start-50 translate-middle">Login</h1>

        <form method="POST" action="{% url 'login' %}" class="position-absolute top-50 start-50 translate-middle">
            {% csrf_token %}

            <div class="input-group mb-3 .bg-info.bg-gradient" style="width: 400px; ">
                <span class="input-group-text" id="inputGroup-sizing-default">Username</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="username" >
            </div>

            <div class="input-group mb-3 .bg-info.bg-gradient" style="width: 400px; ">
                <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
                <input type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="password" >
            </div>

            <input type="submit" value="Login" class="form-control">
        </form>
        {%if error %}
        <br>
            <h2>{{ error }}</h2>
        {% endif %}
{% endblock %}



sdkjgfskdfhb